<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CariHesapTakip.WinFormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="FirmaBilgileriContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CariHesapTakip;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
    <add name="BorcluFirmaContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CariHesapTakip;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <CariHesapTakip.WinFormUI.Properties.Settings>
      <setting name="darkMode_Fr" serializeAs="String">
        <value>47, 58, 79</value>
      </setting>
      <setting name="darkMode_Bg" serializeAs="String">
        <value>35, 44, 61</value>
      </setting>
      <setting name="themeOnOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="whiteMode_Fr" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="whiteMod_Bg" serializeAs="String">
        <value>240, 240, 240</value>
      </setting>
    </CariHesapTakip.WinFormUI.Properties.Settings>
  </userSettings>
</configuration>